@charset "utf-8";

/* Animation Delay
---------------------------------------------------- */
.delay-1s {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.delay-2s {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
.delay-3s {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}
.delay-4s {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}
.delay-5s {
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}
.delay-6s {
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
}
.delay-7s {
  -webkit-animation-delay: 7s;
  animation-delay: 7s;
}
.delay-8s {
  -webkit-animation-delay: 8s;
  animation-delay: 8s;
}
.delay-9s {
  -webkit-animation-delay: 9s;
  animation-delay: 9s;
}
.delay-10s {
  -webkit-animation-delay: 10s;
  animation-delay: 10s;
}
.delay-11s {
  -webkit-animation-delay: 11s;
  animation-delay: 11s;
}
.delay-12s {
  -webkit-animation-delay: 12s;
  animation-delay: 12s;
}
/* End of Animation Delay
---------------------------------------------------- */